/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2016, 12:57:35 PM
    Author     : Shatru
*/

body{
margin-top:10px;
margin-bottom:10px;
margin-right:150px;
margin-left:150px;

}

.Sign-In{
    
}